/* Body */

body {
  margin: 0;
}

.container {
  border: 1px dotted gray;
}

/* Header */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 5;
  background-color: white;
}

.container,
.logo,
.navigation {
  display: flex;
  width: 100%;
}

.logo {
  justify-content: flex-start;
  align-items: center;
  color: MediumAquamarine;
}

.logo span {
  padding: 20px;
}

.navigation {
  float: right;
  justify-content: space-around;
}

nav li {
  display: inline;
  padding: 20px;
}

nav a {
  color: black;
}

/* Main */

main {
  position: relative;
  top: 82px;
}

.column.large,
.column.medium,
.column.small {
  display: flex;
}

.column.large {
  flex: 3 630px;
}

.column.medium {
  flex: 2 300px;
}

.column.small {
  flex: 1 240px;
}
